/* 
font-family: 'Maven Pro', sans-serif; 400 700
font-family: 'Quattrocento', serif; 400 700
font-family: 'Sriracha', cursive; 400
 */

:root {
  --main-color: #57BB6B;
  --secondary-color: #ffffff;
  --third-color: #C4F2AD;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
  border-top: 8px solid var(--main-color);
  text-align: center;
}

img {
  margin: 0;
}

.site-header {
  width: 380px;
  height: 380px;
  background-size: 380px;
  padding-top: 1px;
  background-image: url(../img/multifruits.webp);
}

.logo-card-container {
  justify-content: center;
  background-color: #ffffffE6;
  margin: 28px 30px 28px 30px;
}

.logo-card img { 
  margin: 28px 50px 0px 50px;
}

.logo-card h1 {
  margin: 20px 40px 20px 40px;
  padding-bottom: 18px;
  font-family: 'Quattrocento';
  font-weight: 400;
  color: var(--main-color);
  font-size: 20px;
  line-height: 24px;
}

.logo-card h1 {
  margin-bottom: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  transition-duration: 0.4s;
  font-family: 'Maven Pro';
  margin: 8px 0px;
  padding: 12px 20px;
  background-color: var(--main-color);
  color: white;
  border-radius: 14px;
  text-decoration-line: none;
}

.button:hover {
  background-color: white;
  color: var(--main-color);
}

.button-light {
  transition-duration: 0.4s;
  font-family: 'Maven Pro';
  margin: 8px 0px;
  padding: 12px 20px;
  color: var(--main-color);
  background-color: white;
  border-radius: 14px;
  text-decoration-line: none;
}

.button-light:hover {
  background-color: var(--main-color);
  color: white;
}

.flex-fruit img {
  margin: 0px;
  width: 28px;
}

.flex-fruit { 
  display: flex;
  justify-content: center;
}

.flex-fruit img { 
  padding: 20px;
}

h2 {
  font-family: 'Maven Pro';
  font-weight: 700;
  font-size: 26px;
  line-height: 31.2px;
  margin: 0px;
  margin-bottom: 20px;
}

.product {
  background-color: var(--main-color);
}

.product h2 {
  color: white;
  padding-top: 30px;
}

.card {
  padding: 50px 68px 20px 68px;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.card-product {
  background-color: red;
  border-radius: 31px;
  margin: 20px;
  box-shadow: 0px 0px 10px #011505bd;
  text-align: left;
  padding: 39px;
  min-width: 250px
}

.card-product h3 {
  font-family: 'Sriracha';
  font-size: 30px;
  line-height: 48px;
  margin: 0;
}

.card-product p {
  font-family: 'Quattrocento';
  font-size: 16px;
  margin: 0;
}

.card-product a {
  font-family: 'Maven pro';
  font-weight: 700;
  font-size: 14px;
  color: black;
  margin-top: 65px;
}

.card-banana {
  background-color: #FFF8D7;
}

.card-kiwi {
  background-color: #C4F2AD;
}

.card-coffee {
  background-color: #D3C6B2;
}

.card-strawberry {
  background-color: #F7A4B4;
}

.anchor-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
}

.anchor-logo-container img {
  width: 80px;
}

.anchor-logo-container a {
  margin-bottom: 0px;
}

.product-container-small {
  display: flex;
  flex-direction: row;
}

.small-card {
  padding: 0px;
  max-width: 150px;
}

.site-footer h2 { 
  color: var(--main-color);
  padding-top: 30px;
}

.light-card {
  background-color: var(--third-color);
}

.light-card h3 {
  margin: 0;
  padding-top: 40px;
  font-family: 'Sriracha';
  font-size: 30px;
}

.light-card p {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: 'Quattrocento';
  font-size: 16px;
}

.light-card img {
  width: 100px;
  padding: 40px;
  background-color: white;
  border-radius: 360px;
  margin-bottom: 50px;
}

.site-footer p {
  font-family: 'Maven Pro';
  font-size: 12px;
  color: var(--main-color);
  margin: 0px 50px;
  padding-top: 50px;
  padding-bottom: 20px;
}