/* 
font-family: 'Maven Pro', sans-serif; 400 700
font-family: 'Quattrocento', serif; 400 700
font-family: 'Sriracha', cursive; 400
 */

:root {
  --main-color: #57BB6B;
  --secondary-color: #ffffff;
  --button-color: ;
  --light-button-color: ;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
  border-top: 8px solid var(--main-color);
  text-align: center;
}

img {
  margin: 0;
}

.site-header {
  width: 380px;
  height: 380px;
  background-size: 380px;
  padding-top: 1px;
  background-image: url(../img/multifruits.webp);
}

.logo-card-container {
  justify-content: center;
  background-color: #ffffffE6;
  margin: 28px 30px 28px 30px;
}

.logo-card img { 
  margin: 28px 50px 0px 50px;
}

.logo-card h1 {
  margin: 20px 40px 20px 40px;
  padding-bottom: 18px;
  font-family: 'Quattrocento';
  font-weight: 400;
  color: var(--main-color);
  font-size: 20px;
  line-height: 24px;
}

.logo-card h1 {
  margin-bottom: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  transition-duration: 0.4s;
  font-family: 'Maven Pro';
  margin: 8px 0px;
  padding: 12px 20px;
  background-color: var(--main-color);
  color: white;
  border-radius: 14px;
  text-decoration-line: none;
}

.button:hover {
  background-color: white;
  color: var(--main-color);
}

.button-light {
  transition-duration: 0.4s;
  font-family: 'Maven Pro';
  margin: 8px 0px;
  padding: 12px 20px;
  color: var(--main-color);
  background-color: white;
  border-radius: 14px;
  text-decoration-line: none;
}

.button-light:hover {
  background-color: var(--main-color);
  color: white;
}

.flex-fruit img {
  margin: 0px;
  width: 28px;
}

.flex-fruit { 
  display: flex;
  justify-content: center;
}

.flex-fruit img { 
  padding: 20px;
}

h2 {
  font-family: 'Maven Pro';
  font-weight: 700;
  font-size: 26px;
  line-height: 31.2px;
  margin: 0px;
  margin-bottom: 20px;
}

.product {
  background-color: var(--main-color);
}

.site-footer h2 { 
  color: var(--main-color);
}

.card {
  padding: 50px 68px 20px 68px;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-product {
  background-color: red;
  width: 321px;
}